# Get Reviews from Google Maps

First, you will need an API key. See this link to get yours:

https://developers.google.com/places/web-service/get-api-key#creating-api-keys

In [ ]:
! pip install -U googlemaps
import googlemaps
import pandas as pd

#Instance of google maps
gmaps = googlemaps.Client(key='')

In [18]:
def get_place_id(place_name, gmaps=gmaps):
  """
  given the name of a place (such as a resutaurant) return its place_id
  """
  places_result = gmaps.places(place_name)
  place_id = places_result['results'][0]['place_id']

  return place_id

'ChIJWaQdXNqYEmsRSDGs1WmgHlQ'

In [26]:
def get_5_reviews(place_name="", place_id="", gmaps=gmaps):
  """
  Given either a place_name, or place_ID, return 5 reviews and star ratings
  Currently, Googlemaps only lets you retreive 5 reviews from a place (for free)
  """
  
  #lookup the place by placeID
  if place_id!='':
    place = gmaps.place(place_id = place_id)
  
  #if no placeID, but we have a place string, use this to get a placeID
  elif place_name!='':
    place = gmaps.place(place_id = get_place_id(place_name))

  #if neither is given, print error
  else:
    print("no name or id given")

  reviews = [] #empty list to hold dictionaries of reviews

  #iterate over every review and get the text and rating (out of 5)
  for i in range(len(place['result']['reviews'])):
    rating = place['result']['reviews'][i]['rating']
    text = place['result']['reviews'][i]['text']

    #add text and star-rating to a list of dictionaries
    reviews.append({'review':text,
                    'rating':rating
                    })

  return reviews

                                              review  rating
0  I went to Arndell Park McDonald’s after School...       1
1  When I go see friends I pop in to Maca's the S...       4
2  Got order wrong. Took 20 minutes, and charged ...       1
3                        Big place, lots of seating.       5
4  Very nice, but slightly forgetful personal. Ta...       4

In [34]:
# declare an empty dataframe
df = pd.DataFrame()

LIST_OF_SUBURBS = ['Arndell Park','Haberfield','Seven Hills', 'Blacktown', 
                   'Stanmore', 'St Peters', 'Waterloo', 'Ultimo', 'Green Square',
                   'Darling Quarter', 'Kingsford', 'Hurlstone Park', 'Kings Cross',
                   ]

# iterate over suburbs and get reviews for Mcdonalds in that suburb
for suburb in LIST_OF_SUBURBS:
  temp = pd.DataFrame(get_5_reviews(place_name="Mcdonalds "+suburb))
  df=df.append(temp)

df.to_csv('Mcdonalds_google_reviews.csv')

                                               review  rating
0   I went to Arndell Park McDonald’s after School...       1
1   When I go see friends I pop in to Maca's the S...       4
2   Got order wrong. Took 20 minutes, and charged ...       1
3                         Big place, lots of seating.       5
4   Very nice, but slightly forgetful personal. Ta...       4
..                                                ...     ...
0                     Can you go every corner of u. K       5
1   Normal stuff. Be careful of ID and cash thieve...       3
2   Not very quick and did people meal before our ...       3
3   Honestly one of the best McDonalds I've ever b...       4
4   It's McD's; it's undoubtedly cheaper than say ...       3

[65 rows x 2 columns]

In [35]:
df.to_csv('Mcdonalds_google_reviews.csv')